@{
    ViewData["Title"] = "Home Page";
}


<style>
    body {
        background-image: url('/images/s3.jpg');
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
<div class="center-container">
    <video src="~/images/pr.mp4" class="logo-circle" autoplay muted loop></video>
    
</div>

<style>
    .center-container {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        height: 100vh; 
        text-align: center; 
    }
    .logo-circle {
        width: 350px; 
        height: 350px; 
        border-radius: 50%; 
        object-fit: cover; 
        border: 5px solid #ccc; 
    }
</style>

